@import url("https://use.typekit.net/pke3bbf.css");

:root {
	--main-font: futura-pt;
	--backup-fonts: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--required-background: #ffeeee;
    --required-text: #ce0000;
	
	font-size: 18px;
}

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: unset;
}

body {
	background-color: #d7b6ff;
	background-image: linear-gradient(transparent 40%, #f4d4d4), url(./images/nathan-hurst-BgBTv96kEW0-unsplash-small.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	font-family: var(--main-font), var(--backup-fonts);
	
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
}

header {
	width: 100%;
	display: flex;
	justify-content: center;
}

header h1 {
	font-family: futura-pt-bold;
	font-style: normal;
	font-size: 1.5rem;
	
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px 10px;
	margin: 20px;

	background-color: #fff;
	box-shadow: 6px 4px #000;
	color: #000;
}

main {
	flex: 1;
}

.content {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin: 0 1.5rem 1.5rem;
}

.text {
	/* font-family: var(--backup-fonts); */
	font-size: 1.1rem;
	font-weight: 500;
	max-width: 60ch;
}



.text p:not(:last-child) {
	margin-bottom: 1.5rem;
}

.underline {
	text-decoration: underline;
	text-underline-offset: 3px;
}

form {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 1rem;
	padding: 1rem;
	
	background-color: #fff;
	box-shadow: 6px 6px black;
	border-radius: 15px;
	border: 4px solid black;
}

#require-notice {
	font-size: 0.8rem;
}

#require-notice span{
	padding: 2px 6px;
	
	background-color: var(--required-background);
    color: var(--required-text);
	border-radius: 3px;
	font-weight: 500;
}

.form-row {
	width: 100%;
	max-width: 700px;
	
	display: flex;
	justify-content: stretch;
	flex-wrap: wrap;
	gap: 1rem;
}

.form-item {
	flex: auto;
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.form-item label {
	position: relative;
	width: 100%;

	text-transform: uppercase;
	color: #545454;
	font-size: .8rem;
	letter-spacing: 1px;
}

.form-item label:has(~ input.required):after {
	position: absolute;
	bottom: 1px;
	right: 0px;
	padding: 2px 6px;
	content: "required";
	text-transform: lowercase;

	background-color: var(--required-background);
    color: var(--required-text);
	border-radius: 3px;
}

.form-item input{
	width: 100%;
	appearance: none;
	-webkit-appearance: none;
	padding: 6px 10px;
	
	font-size: 0.9rem;
	font-family: var(--backup-fonts);
	border: 1px solid lightgrey;
	border-radius: 5px;
}

	.form-item input::placeholder {
		color: #b6b4b4;
	}

	.form-item input:hover {
		box-shadow: 0 0 3px #c9c9c9;
	}

	.form-item input:focus,
	.form-item input:focus-visible {
		box-shadow: 0 0 5px #a9a9a9;
	}

	.form-item input:invalid {
		outline: red solid 1px 
	}

button.sign-up {
	padding: 0.75rem 2rem;
	margin-top: 0.5rem;
	-webkit-appearance: none;
	appearance: none;

	font-family: var(--main-font), var(--backup-fonts);
	font-size: 1.3rem;
	text-transform: uppercase;
	font-weight: bold;

	border: none;
	border-radius: 40px;
	color: white;
	background-color: #0e0708;
	/* box-shadow: 0 0 5px hsl(210, 10%, 80%); */
}

	button.sign-up:hover {
		box-shadow: 0 0 5px hsl(210, 9%, 70%), inset 0 0 5px #993349;
	}
	
	button.sign-up:active {
		background-color: #f45779;
		box-shadow: inset 0 0 5px #4d1a2f;
		color: #fff8f9;
	}

#already-user {
 font-size: 1.1rem;
 padding: 5px 10px;
 border-radius: 10px;
}

#log-in {
	text-decoration: none;
	font-weight: bold;
	color: hsl(282, 67%, 38%); 
	word-wrap: normal;
}

	#log-in:hover {
		color: hsl(282, 67%, 21%);
	}
	
	#log-in:active {
		color: hsl(282, 57%, 50%);
	}



/* Tablet
@media only screen and (min-width: 600px) {
	
} */

/* Desktop */
@media only screen and (min-width: 900px) {
	body {
		min-height: 100vh;
		/* background-image: linear-gradient(#dabdf5, #fcc6ee, #f4a4bb); */
		background-image: none;
		flex-direction: row;
		justify-content: flex-end;
		align-items: stretch;
	}

	header {
		flex: 1;

		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;

		background-image: url(./images/nathan-hurst-BgBTv96kEW0-unsplash-small.jpg);
		background-size: cover;
	}

	header h1 {
		margin-top: calc(20px + 12vw);
		font-size: calc(1rem + 1vw);
	}

	main {
		margin: 0;
		max-width: 700px;
		box-shadow: 0 0 20px #372946;
	}
	
	.content {
		margin: 14vh 1rem 0;

	}

	button.sign-up {
		align-self: flex-start;
	}
}