@import url("https://use.typekit.net/pke3bbf.css");

:root {
	--main-font: futura-pt;
	--backup-fonts: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--required-background: #ffeeee;
    --required-text: #ce0000;
	
	font-size: 18px;
}

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: unset;
}

body {
	background-color: #dabdf5;
	background-image: url(./images/nathan-hurst-BgBTv96kEW0-unsplash-small.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	font-family: var(--main-font), var(--backup-fonts);
	
	display: flex;
	flex-direction: column;
	align-items: center;
}

header {
	width: 100%;
	position: sticky;
	top: 0;
}

header .grey-bg {
	display: flex;
	justify-content: center;
	background-color: #3f3f3f80;
	padding-bottom: 0.2rem;
}

header h1 {
	font-family: futura-pt-bold;
	font-style: normal;
	font-size: 1.5rem;
	
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px 10px;
	margin: 13px;

	background-color: #fff;
	box-shadow: 6px 4px #000;
	color: #000;
}

main {
	width: 90%;
	flex: 1;
	padding: 1.2rem;
	margin: 1rem;
	
	border-radius: 5px;
	background-color: #f9fafb;
}

.content {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.text {
	font-family: var(--backup-fonts);
	font-weight: 500;
	max-width: 60ch;
}

.text p:not(:last-child) {
	margin-bottom: 1rem;
}

.underline {
	text-decoration: underline;
	text-underline-offset: 3px;
}

form {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 1rem;
	padding: 1rem;
	
	background-color: #fff;
	box-shadow: 2px 3px 10px gray;
	border-radius: 3px;
}

#require-notice {
	font-size: 0.8rem;
}

#require-notice span{
	padding: 2px 6px;
	
	background-color: var(--required-background);
    color: var(--required-text);
	border-radius: 3px;
	font-weight: 500;
}

.form-row {
	width: 100%;
	max-width: 700px;
	
	display: flex;
	justify-content: stretch;
	flex-wrap: wrap;
	gap: 1rem;
}

.form-item {
	flex: auto;
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.form-item label {
	position: relative;
	width: 100%;

	text-transform: uppercase;
	color: #545454;
	font-size: .75rem;
	letter-spacing: 1px;
}

.form-item label:has(~ input.required):after {
	position: absolute;
	bottom: 1px;
	right: 0px;
	padding: 2px 6px;
	content: "required";
	text-transform: lowercase;

	background-color: var(--required-background);
    color: var(--required-text);
	border-radius: 3px;
}

.form-item input{
	width: 100%;
	appearance: none;
	-webkit-appearance: none;
	padding: 6px 10px;
	
	font-size: 0.9rem;
	font-family: var(--backup-fonts);
	border: 1px solid lightgrey;
	border-radius: 5px;
}

	.form-item input::placeholder {
		color: #cecece;
	}

	.form-item input:hover {
		box-shadow: 0 0 3px #c9c9c9;
	}

	.form-item input:focus,
	.form-item input:focus-visible {
		box-shadow: 0 0 5px #a9a9a9;
	}

	.form-item input:invalid {
		outline: red solid 1px 
	}

button.sign-up {
	padding: 1rem 3rem;
	margin-top: 0.5rem;
	-webkit-appearance: none;
	appearance: none;

	font-family: var(--main-font), var(--backup-fonts);
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: bold;

	border: none;
	border-radius: 5px;
	background-color: #f0cafb;
	color: #000;
	box-shadow: 0 0 5px hsl(210, 10%, 80%);
}

	button.sign-up:hover {
		background-color: #af45cc;
		box-shadow: 0 0 5px hsl(210, 9%, 70%), inset 0 0 5px #7e3893;
		color: white;
	}

	button.sign-up:active {
		background-color: #9938b4;
		box-shadow: inset 0 0 5px #411a4d;
		color: rgb(248, 245, 249);
	}

#already-user {
 font-size: 1.1rem;
}

#log-in {
	text-decoration: none;
	font-weight: bold;
	color: hsl(90, 67%, 31%);
}

	#log-in:hover {
		color: hsl(90, 67%, 21%);
	}
	
	#log-in:active {
		color: hsl(90, 57%, 45%);
	}



/* Tablet
@media only screen and (min-width: 600px) {
	
} */

/* Desktop */
@media only screen and (min-width: 900px) {
	body {
		min-height: 100vh;
		background-image: linear-gradient(#dabdf5, #fcc6ee, #f4a4bb);
		flex-direction: row;
		align-items: stretch;
	}

	header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: 460px;

		background-image: url(./images/nathan-hurst-BgBTv96kEW0-unsplash-small.jpg);
		background-size: cover;
	}

	header .grey-bg {
		margin-bottom: calc(210px - 1vw);
	}

	header h1 {
		margin: calc(10px + 1vw);
		font-size: calc(1rem + 1vw);
	}

	main {
		display: flex;
		align-items: center;
		margin: 0;
		padding: 0;
	}

	main .text,
	button.sign-up,
	#already-user {
		margin-left: 1rem;
	}

	button.sign-up {
		align-self: flex-start;
	}
}